body{
	 background-color: #333;
	 position: relative;
	 height: 100vh;
}
.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}
.navbar-nav  li a{
  color: #fff;
}
.navbar-nav  li a:hover{
  color: #fff;
  background-color: #333;
}
.navbar-brand{
	color: #fff;
}
.navbar-brand:hover{
	color: #fff;
}
.container-fluid{
	color: #fff;
}
.margin{
	margin-bottom: 50px;
}
.p_wrap{
	text-align: center;
	width: 100%;
	line-height: 40px;
}
.p_wrap p,
.p_wrap a{
	display: inline;
	margin: 5px;
}
.first_content{
	margin-top: 150px;
}
footer{
	position: absolute;
	bottom: 0px;
	width: 100%;
	padding: 50px 0px;
}
footer p{
	font-size: 12px;
	color: #999;
	line-height: 12px;
	font-weight: 200;
}